<h3 class="display-6">{{titulo}}</h3>
<hr>

<div class="accordion" id="accordionExample"> 
    <div class="card shadow mb-4">
        <div class="card-header py-3" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left font-weight-bold " type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Registro de Libros
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form action="" class="form-horizontal" id="frmLibro">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Titulo :</label>
                            <input type="text" name="nrodocumento" id="nrodocumento" placeholder="Titulo del libro"
                                class="form-control" [(ngModel)]="tituloInput">
                        </div>

                    </div>


                    <div class="row">

                        <div class="form-group col-md-2">
                            <label for="editorialSelect">Editorial:</label>
                            <select id="editorialSelect" name="editorialSelect" class="form-control"
                                [(ngModel)]="ideditorialInput">
                                <option *ngFor="let editorial of  editorialLst " [value]="editorial.ideditorial">{{
                                    editorial.nombre }}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="generoSelect">Género:</label>
                            <select id="generoSelect" name="generoSelect" class="form-control"
                                [(ngModel)]="idgeneroInput">
                                <option *ngFor="let genero of generoLst" [value]="genero.idgenero">{{ genero.descripcion }}</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-2">
                            <label for="estadoSelect">Estado:</label>
                            <select id="estadoSelect" name="estadoSelect" class="form-control"
                                [(ngModel)]="estadoInput">
                                <option value="Nuevo">Nuevo</option>
                                <option value="Usado">Usado</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>ISBN:</label>
                            <input type="text" name="isbn" id="isbn" placeholder="ISBN"
                                   class="form-control" [(ngModel)]="isbnInput" (input)="validateISBN($event)">
                            <small *ngIf="errorMessage" class="text-danger">{{ errorMessageisbn }}</small>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Sinopsis:</label>
                            <input type="text" name="sinopsis" id="sinopsis" placeholder="Sinopsis" class="form-control"
                                [(ngModel)]="sinopsisInput">
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Fecha Inicio:</label>
                            <input type="date" name="fechainicio" id="fechainicio" placeholder="fechainicio"
                                class="form-control" [(ngModel)]="fecha_inicioInput" [min]="today" [max]="today">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Fecha Final:</label>
                            <input type="date" name="fechafinal" id="fechafinal" placeholder="fechafinal"
                                class="form-control" [(ngModel)]="fecha_finalInput" [min]="tomorrow" [max]="tomorrow">
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Precio Base:</label>
                            <input type="number" name="preciobase" id="preciobase" placeholder="Precio Base"
                                   class="form-control" [(ngModel)]="precio_baseInput" (input)="validateNumber($event)">
                            <small *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</small>
                        </div>
                        

                    </div>

                    <div class="row">
                        <div class="form-group col-md-1">
                            <button class="btn btn-primary" (click)="guardarLibros()" [disabled]="errorMessage || !precio_baseInput">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabla de Ofertas</h6>
    </div>
<div class="card-body">
    <div class="table-responsive">
<table datatable id="dataTable" class="table table-bordered">
    <thead class="bg-secondary">
        <tr class="text-white">
        <th>#</th>  <!-- Columna de contador -->
        <th>idLibro</th>
        <th>Título</th>
        <th>estado</th>
        <th>isbn</th>
        <th>sinopsys</th>
        <th>editorial</th>
        <th>genero</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí se llenarán las filas dinámicamente con los datos -->
    </tbody>
  </table>
  </div>
</div>
</div>  
  

 
  
<!-- Modal Actualizar -->
<!--<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <div #updateModal class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Libros</h5>
                <button type="button" class="close" (click)="cerrarModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Id Libro :</label>
                            <input type="text" name="IdLibro" id="IdLibro" placeholder="IdLibro"
                                class="form-control" [(ngModel)]="idlibroAct" disabled>
                        </div>
    
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Titulo :</label>
                            <input type="text" name="nrodocumento" id="nrodocumento" placeholder="Titulo del libro"
                                class="form-control" [(ngModel)]="tituloAct">
                        </div>
    
                    </div>
                    <div class="row">
    
                        <div class="form-group col-md-4">
                            <label for="editorialSelect">Editorial:</label>
                            <select id="editorialSelect" name="editorialSelect" class="form-control" [(ngModel)]="ideditorialAct">
                                <option *ngFor="let editorial of editorialLst" [value]="editorial.ideditorial">
                                    {{ editorial.nombre }}
                                </option>
                            </select>
                        </div>
    
                        <div class="form-group col-md-4">
                            <label for="generoSelect">Género:</label>
                            <select id="generoSelect" name="generoSelect" class="form-control"
                                [(ngModel)]="idgeneroAct">
                                <option *ngFor="let genero of generoLst" [value]="genero.idgenero">{{ genero.descripcion
                                    }}</option>
                            </select>
                        </div>
    
                    </div>
    
                    <div class="row">
    
                        <div class="form-group col-md-2">
                            <label for="estadoSelect">Estado:</label>
                            <select id="estadoSelect" name="estadoSelect" class="form-control"
                                [(ngModel)]="estadoAct">
                                <option value="Nuevo">Nuevo</option>
                                <option value="Usado">Usado</option>
                            </select>
                        </div>
    
                    </div>
    
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>ISBN:</label>
                            <input type="text" name="isbn" id="isbn" placeholder="Isbn" class="form-control"
                                [(ngModel)]="isbnAct">
                        </div>
    
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label>Sinopsis:</label>
                            <input type="text" name="sinopsis" id="sinopsis" placeholder="Sinopsis" class="form-control"
                                [(ngModel)]="sinopsisAct">
                        </div>
    
                    </div>
    
    
                    <!--<div class="row">
                        <div class="form-group col-md-4">
                            <label>Fecha Inicio:</label>
                            <input type="date" name="fechainicio" id="fechainicio" placeholder="fechainicio"
                                class="form-control" [(ngModel)]="fecha_inicioAct">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Fecha Final:</label>
                            <input type="date" name="fechafinal" id="fechafinal" placeholder="fechafinal"
                                class="form-control" [(ngModel)]="fecha_finalAct">
                        </div>
    
                    </div>
    
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Precio Base:</label>
                            <input type="text" name="preciobase" id="preciobase" placeholder="preciobase"
                                class="form-control" [(ngModel)]="precio_baseIAct">
                        </div>
    
                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Close</button>
                <button class="btn btn-primary" (click)="modificarCliente()" data-dismiss="modal">
                    Guardar
                </button>
            </div>
            </div>
        </div>
    </div>