<style>
  /* Ajustar el tamaño del select */
  select.form-control {
    width: 400dx;
  }
</style>
<div class="container ">
  <div class="row bg-light mt-5">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img src="assets/img/logo_dos_ong.png" alt="login-icon" style="height: 20rem;">
      </div>
      <div class="col-md-6">
          <div class="bg-light p-4 mb-5">
              <div class="text-center p-4 mb-5">
                  <h1 style="color: rgba(4, 190, 17, 0.932);"><strong>INICIO DE SESIÓN</strong></h1>
              </div>
              <div class="text-center mt-5">
                  <!--<a href="">¿Aún eres nuevo aquí?</a>-->
                  <!--<span class="mx-2">|</span>-->
                  <!--<a href="">Crear una cuenta</a>-->
                    <a href="javascript:void(0)" (click)="openRegisterModal()">Crear una cuenta</a>

              </div>
              
              <div class="form-group mt-5">
                  <label for="email">Correo</label>
                  <input type="email" class="form-control" placeholder="Correo electrónico" id="login"
                      [(ngModel)]="loginInput">
              </div>
              <div class="form-group mb-5">
                  <label for="password">Contraseña</label>
                  <input type="password" class="form-control" placeholder="Contraseña" id="password"
                      [(ngModel)]="passwordInput">
              </div>
              <div class="d-flex justify-content-between align-items-center mb-5">
                <!-- Captcha -->
                <re-captcha
                  #captchaElem
                  siteKey="6LdAyN0rAAAAAGsev3WnqAqP5_87MevE7JddSyoe"
                  (resolved)="resolved($event)">
                </re-captcha>

                <!-- Recuperar contraseña -->
                <a href="javascript:void(0)" class="text-decoration-none ms-3" (click)="openRecuperaModal()">
                  Recuperar contraseña?
                </a>
              </div>
                          
              <div class="mt-5">
                  <button type="button" class="btn btn-primary rounded-2 w-100"
                      style="background-color: #04BE11; border: 0px;" (click)="onLogin()">
                      <strong>INGRESAR</strong>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Model recuperar contraseña-->

<div *ngIf="isRecuperarModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeRecuperaModal()">&times;</span>
    <h2>Recuperar contraseña</h2>
    <form class="recupera-form" (ngSubmit)="cambiaPass()" #registerForm="ngForm">
    <div class="form-group">
      <label for="Login">Login</label>
      <input id="loginInput" type="text" [(ngModel)]="loginInput" name="loginInput" required disabled/>      
    </div>
    <div class="form-group">
      <label for="Pregunta">Pregunta</label>
      <input id="regPregunta" type="text" [(ngModel)]="regPregunta" name="regPregunta" required disabled/>      
    </div>     
    <div class="form-group">
      <label for="Respuesta">Respuesta</label>
      <input id="regRespuesta" type="text" [(ngModel)]="regRespuesta" name="regRespuesta" required/>      
    </div>      
    <div class="form-group">
      <label for="password">Nuevo password</label>
      <input id="NewpassInput" type="password" [(ngModel)]="NewpassInput" name="NewpassInput" required/>      
    </div>   
    <div class="form-actions">
      <button type="submit" class="register-btn">Guardar</button>
    </div>   
  </form>  
  </div>
</div>

<!-- Modal registrar -->
<!-- login.component.html -->

<!-- login.component.html -->

<div *ngIf="isRegisterModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeRegisterModal()">&times;</span>
    <h2>Crear una cuenta</h2>

    <form class="register-form" (ngSubmit)="registerUser()" #registerForm="ngForm">
      <div class="form-group">
        <label for="nomUsuario">Nombre</label>
        <input id="nomUsuario" type="text" [(ngModel)]="nomUsuario" name="nomUsuario" placeholder="Ingresa tu nombre" required />
      </div>
      <div class="form-group">
        <label for="nomApellido">Apellido</label>
        <input id="nomApellido" type="text" [(ngModel)]="nomApellido" name="nomApellido" placeholder="Ingresa tu apellido" required />
      </div>      
      <div class="form-group">
        <label for="dni">dni</label>
        <input id="dni" type="text" [(ngModel)]="dni" name="dni" placeholder="Ingresa tu dni" required />
      </div>         
      <div class="form-group">
        <label for="regLogin">Login</label>
        <input id="regLogin" type="text" [(ngModel)]="regLogin" name="regLogin" placeholder="Ingresa tu login" required />
      </div>
      <div class="form-group">
        <label for="regPassword">Contraseña</label>
        <input id="regPassword" type="password" [(ngModel)]="regPassword" name="regPassword" placeholder="Ingresa tu contraseña" required />
      </div>
      <!--<div class="form-group">
        <label for="regPregunta">Pregunta de seguridad</label>
        <input id="regPregunta" type="text" [(ngModel)]="regPregunta" name="regPregunta" placeholder="Ingresa una pregunta de seguridad" required />
      </div>-->
      <div class="form-group">
        <label for="regPregunta">Pregunta de seguridad</label>
        <select id="regPregunta" [(ngModel)]="regPregunta" name="regPregunta" class="form-control form-control-sm"  required>
          <option value="" disabled selected>Selecciona una pregunta de seguridad</option>
          <option value="¿Cuál es el nombre de tu primera mascota?">¿Cuál es el nombre de tu primera mascota?</option>
          <option value="¿Cuál es tu color favorito?">¿Cuál es tu color favorito?</option>
          <option value="¿En qué ciudad naciste?">¿En qué ciudad naciste?</option>
          <option value="¿Cuál es el nombre de tu madre?">¿Cuál es el nombre de tu madre?</option>
          <option value="¿Cuál es tu película favorita?">¿Cuál es tu película favorita?</option>
          <option value="¿Cuál fue tu primer coche?">¿Cuál fue tu primer coche?</option>
        </select>
      </div>      
      <div class="form-group">
        <label for="answer">Respuesta de seguridad</label>
        <input id="regRespuesta" type="text" [(ngModel)]="regRespuesta" name="regRespuesta" placeholder="Ingresa la respuesta a la pregunta" required />
      </div>
      <div class="form-actions">
        <button type="submit" class="register-btn">Registrar</button>
      </div>
    </form>
  </div>
</div>

