<h3 class="display-6">{{titulo}}</h3>
<hr>


<!--<div class="accordion " id="accordionExample">
    <div class="card shadow mb-4">
        <div class="card-header py-3 mb-4">
            <h6 class="m-0 font-weight-bold text-primary">Ofertas:</h6>
        </div>
        <div class="form-group col-md-2">
            <select id="editorialSelect" name="editorialSelect" class="form-control" [(ngModel)]="idlibroInput">
                <option *ngFor="let libro of  LibrosLst " [value]="libro.idLibro">{{ libro.destitulo }}</option>
            </select>
        </div>
    </div>
</div> 

<div class="row">
    <div class="form-group col-md-2">
        <button class="btn btn-primary" (click)="buscarOferta(idlibroInput)">
            Buscar
        </button>
    </div>
</div>-->


<!--<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabla de Ofertas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table datatable id="dataTable" class="table table-bordered">
                <thead class="bg-secondary">
                    <tr class="text-white">
                        <th>#</th>
                        <th>idOferta</th>
                        <th>Titulo</th>
                        <th>Precio Oferta</th>
                        <th>Fecha oferta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let oferta of ofertasUsuario; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{oferta.idOferta }}</td>
                        <td>{{oferta.destitulo }}</td>
                        <td>{{oferta.precioOferta }}</td>
                        <td>{{oferta.fecOferta }}</td>
                        <td>
                            <a class="btn btn-warning">
                                <span class="fa fa-edit"></span>
                            </a>
                            &nbsp;
                            <a class="btn btn-danger">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="thead-dark">
                    <tr class="text-white">
                        <th>#</th>
                        <th>idOferta</th>
                        <th>Titulo</th>
                        <th>Precio Oferta</th>
                        <th>Fecha oferta</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>-->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabla de Ofertas</h6>
    </div>
<div class="card-body">
    <div class="table-responsive">
<table datatable id="dataTableoferta" class="table table-bordered">
    <thead class="bg-secondary">
        <tr class="text-white">
        <th>#</th>  <!-- Columna de contador -->
        <th>ID Oferta</th>
        <th>Título</th>
        <th>Precio</th>
        <th>Fecha Oferta</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí se llenarán las filas dinámicamente con los datos -->
    </tbody>
  </table>
  </div>
</div>
</div>  
  