<div class="container d-flex flex-column align-items-center">
  <h2 class="form-title">Crear Usuario</h2>

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate class="col-md-6 col-lg-4">
    
    <!-- Campo de Nombre -->
    <div class="form-group">
      <label for="nomUsuario">Nombre:</label>
      <input
        type="text"
        id="nomUsuario"
        name="nomUsuario"
        class="form-control"
        [(ngModel)]="nuevoUsuario.nomUsuario"
        #nomUsuario="ngModel"
        required
        minlength="2"
      />
      <div *ngIf="nomUsuario.invalid && nomUsuario.touched" class="text-danger">
        <small *ngIf="nomUsuario.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="nomUsuario.errors?.['minlength']">Debe tener al menos 2 caracteres.</small>
      </div>
    </div>

    <!-- Campo de Apellido -->
    <div class="form-group">
      <label for="apeUsuario">Apellido:</label>
      <input
        type="text"
        id="apeUsuario"
        name="apeUsuario"
        class="form-control"
        [(ngModel)]="nuevoUsuario.apeUsuario"
        #apeUsuario="ngModel"
        required
        minlength="2"
      />
      <div *ngIf="apeUsuario.invalid && apeUsuario.touched" class="text-danger">
        <small *ngIf="apeUsuario.errors?.['required']">El apellido es obligatorio.</small>
        <small *ngIf="apeUsuario.errors?.['minlength']">Debe tener al menos 2 caracteres.</small>
      </div>
    </div>

    <!-- Campo de DNI -->
    <div class="form-group">
      <label for="dni">DNI:</label>
      <input
        type="text"
        id="dni"
        name="dni"
        class="form-control"
        [(ngModel)]="nuevoUsuario.dni"
        #dni="ngModel"
        required
        minlength="8"
      />
      <div *ngIf="dni.invalid && dni.touched" class="text-danger">
        <small *ngIf="dni.errors?.['required']">El dni es obligatorio.</small>
        <small *ngIf="dni.errors?.['minlength']">Debe tener 8 caracteres.</small>
      </div>
    </div>    

    <!-- Campo de Correo Electrónico -->
    <div class="form-group">
      <label for="login">Correo electrónico:</label>
      <input
        type="email"
        id="login"
        name="login"
        class="form-control"
        [(ngModel)]="nuevoUsuario.login"
        #login="ngModel"
        required
        login
      />
      <div *ngIf="login.invalid && login.touched" class="text-danger">
        <small *ngIf="login.errors?.['required']">El correo es obligatorio.</small>
        <small *ngIf="login.errors?.['login']">Ingrese un correo válido.</small>
      </div>
    </div>

    <!-- Campo de Contraseña -->
    <div class="form-group">
      <label for="pass">Contraseña:</label>
      <input
        type="pass"
        id="pass"
        name="pass"
        class="form-control"
        [(ngModel)]="nuevoUsuario.pass"
        #pass="ngModel"
        required
        minlength="8"
        pattern="^(?=.*[A-Z])(?=.*\d).{8,}$"
        />
      <div *ngIf="pass.invalid && pass.touched" class="text-danger">
        <small *ngIf="pass.errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="pass.errors?.['minlength']">Debe tener al menos 8 caracteres.</small>
        <small *ngIf="pass.errors?.['pattern']">Debe contener al menos una letra mayúscula y un número.</small>
      </div>
    </div>

    <!-- Selección de Perfil -->
    <div class="form-group">
      <label for="idPerfil">Perfil:</label>
      <select
        id="idPerfil"
        name="idPerfil"
        class="form-control"
        [(ngModel)]="nuevoUsuario.idPerfil"
        #idPerfil="ngModel"
        required
      >
        <option value="idPerfil" disabled selected>Selecciona un perfil</option>
        <!--<option value="Ofertador">Subastador/Ofertador</option>-->
        <option value="2">Administrador</option>
      </select>
      <div *ngIf="idPerfil.invalid && idPerfil.touched" class="text-danger">
        <small *ngIf="idPerfil.errors?.['required']">El perfil es obligatorio.</small>
      </div>
    </div>

    <!-- Botón de Envío en Verde -->
    <button 
      type="submit" 
      class="btn btn-success btn-block" (click)="crearUsuario()" 
      [disabled]="userForm.invalid"
    >
      Crear Usuario
    </button>
  </form>
</div>
